{% extends "layouts/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="mt-4">About iTask</h1>
    <p class="lead">Welcome to iTask, your comprehensive task management system.</p>
    
    <section class="mt-4">
        <h2>What is iTask?</h2>
        <p>iTask is a task management system designed to help you organize, manage, and track your tasks effectively. Whether you're juggling multiple projects or just need a simple to-do list, iTask has got you covered.</p>
    </section>
    
    <section class="mt-4">
        <h2>Features</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Create, Edit, and Delete Tasks:</strong> Easily manage your tasks with options to create new tasks, edit existing ones, or delete tasks that are no longer needed.</li>
            <li class="list-group-item"><strong>Add Checklists to Tasks:</strong> Break down your tasks into smaller, manageable checklist items. Add, edit, or delete checklist items as your task progresses.</li>
            <li class="list-group-item"><strong>Task Details:</strong> View detailed information for each task, including the title, creation date, deadline, priority, state, and description.</li>
        </ul>
    </section>
    
    <section class="mt-4">
        <h2>About the Project</h2>
        <p>This website is a project for a university web course, developed to demonstrate the practical application of web development skills. The project includes features such as user authentication, CRUD (Create, Read, Update, Delete) operations for tasks and checklists, and the use of modern web technologies like HTML, CSS and Django.</p>
    </section>
    
    <section class="mt-4">
        <h2>Contact Information</h2>
        <p>If you have any questions or feedback, please feel free to contact us: info@itask.com.</p>
    </section>
</div>
{% endblock content %}
