{% extends "layouts/base2.html" %}
{% load static %}
{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      iTask
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">iTask</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">
        {% if user.is_authenticated %}
        Hi {{ user.first_name }}!
        <p>you can go to see your <a href="/tasks">Tasks</a></p>
        {% else %}
        <p>Welcome</p>
        <a href="/accounts/login/">Log In</a>
        or
        <a href="/accounts/signup/">Sign Up</a>
        <p>or <a href="/accounts/password_reset/">you forgot your Password</a></p>
        {% endif %}
      </p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Powered by iTask
    </div>
  </div>
{% endblock content %}