{% extends "layouts/base2.html" %}

{% block title %}Task : {{task_id}}{% endblock title %}

{% block content %}
<h1> {{task_id}}</h1>






<ul>
    <i>Title</i>
    <ul>
        <li>task 1</li>   
    </ul>
    <i>Create Date</i>
    <ul>
        <li>Apr 11 2024, 12:50</li>   
    </ul>
    <i>Deadline</i>
    <ul>
        <li>Apr 20 2024, 12:50</li> 
    </ul>
    <i>Priority</i>
    <ul>
        <li>Low</li>
    </ul>
    <i>State</i>
    <ul>
        <li>To Do</li> 
    </ul>  
</ul>
<a href="/tasks">Go to tasks</a>
{% endblock content %}


