{% extends "layouts/base2.html" %}

{% block title %}Task : {{task.title}}{% endblock title %}

{% block content %}

<ul>
    <i>Title</i>
    <ul>
        <li>{{task.title}}</li>   
    </ul>
    <i>Create Date</i>
    <ul>
        <li>{{task.createdate}}</li>   
    </ul>
    <i>Deadline</i>
    <ul>
        <li>{{task.deadline}}</li> 
    </ul>
    <i>Priority</i>
    <ul>
        <li>{{task.Priority}}</li>
    </ul>
    <i>State</i>
    <ul>
        <li>{{task.State}}</li> 
    </ul>  
</ul>
<a href="/tasks">Go to tasks</a> or <a href="/edit/{{task.id}}">edit task</a> 
{% endblock content %}


