{% extends "layouts/base2.html" %}

{% block title %}Task : {{task.title}}{% endblock title %}

{% block content %}

<ul>
    <i>Title</i>
    <ul>
        <li>{{task.title}}</li>   
    </ul>
    <i>Create Date</i>
    <ul>
        <li>{{task.createdate}}</li>   
    </ul>
    <i>Deadline</i>
    <ul>
        <li>{{task.deadline}}</li> 
    </ul>
    <i>Priority</i>
    <ul>
        <li>{{task.Priority}}</li>
    </ul>
    <i>State</i>
    <ul>
        <li>{{task.State}}</li> 
    </ul>
    <i>description</i>
    <ul>
        <li>{{task.description}}</li> 
    </ul>
</ul>
<a href="/tasks">Go to tasks</a> or <a href="/edit/{{task.id}}">edit task</a> 

<form action="{% url 'delete' task.id %}" method="post">
    {% csrf_token %}
    <button type="submit">Delete Task</button>
</form>

<table>
    <caption>Check List:           progression {{checklist_done_count}}/{{checklist_count}}</caption>
    <tr>
       <th>Title</th>
       <th>Description</th>
       <th>Done ?</th>
       <th>edit</th>
       <th>delete</th>
    {% for item in checklist %}
    <tr>
        <td>{{item.title}}</td>
        <td>{{item.description}}</td>
        <td><input name="done" type="checkbox" disabled {% if item.done == "1" %}checked{% endif %} ></td>
        <td><a href="/editchecklist/{{task.id}}/{{item.id}}">edit</a></td>
        <td></td>
    </tr>
    {% endfor %}
 </table>
 <a href="/createchecklist/{{task.id}}">add</a>
{% endblock content %}


