<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width">
 <title>
 iTask - {% block title %}x{% endblock %}
 </title>
 {% block stylesheets %}
 <style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    
   </style>   
 {% endblock stylesheets %}
 
 </head>
 <body>
 {% include 'includes/header.html' %}
 {% include 'includes/sidebar1.html' %}
 
 {% block content %}
 {% endblock content %}
 
 {% include 'includes/sidebar2.html' %}
 {% include 'includes/footer.html' %}
 </body>
</html>