{% load i18n %}

{% autoescape off %}
{% blocktrans %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
Please click the link below to reset your password:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}
If you didn't request a password reset, you can safely ignore this email.
{% endblocktrans %}

{% blocktrans %}
Thanks for using our site!
The {{ site_name }} team
{% endblocktrans %}
{% endautoescape %}