{% extends "layouts/base.html" %}

{% block title %}Choose New Password{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2>Choose New Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">New password:</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Confirm new password:</label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Change my password</button>
    </form>
</div>
{% endblock %}
